.bg {
    background-color: rgb(255,255,255);
    margin: 0px;
}

.box {
    background-color: #1e56a0;
    border-radius: 20px;
    opacity: 0.9;
    left:10px;
    top:7%;
    bottom:7%;
    width: 60px;
    height: 86%;
    z-index: 1;
    align-content: center;
    justify-content: center;
    position: fixed;
    overflow:hidden;
    transition: 0.4s;
}

.block{
    width:130px;
    height: 35px;
    position: relative;
}

.item {
    width: 130px;
    height: 60px;
    overflow: hidden;
    transition: 0.4s;
    position: relative;
}

.item-icon{
    width:60px;
    height:60px;
    position: absolute;
}

.item-con{
    height:60px;
    width:70px;
    transition: 0.5s;
    display:flex;
    text-align: left;
    align-items: center;
    color: rgb(240, 240, 240);
    float: right;
}

.box:hover{
    width:130px;
    transition: 0.4s;
}

.line{
    background-color: aliceblue;
    height: 3px;
    top:10px;
    margin:8px;
    position: relative;
    
}

.box-main h2 {
    color: rgb(221, 221, 221);
    margin: 0px;
}

.box-main p {
    color: rgb(201, 201, 201);
    margin-top: 0px;
    font-size: small;
}

.light {
    width: 4px;
    height: 50px;
    background: #eb5a56;
    position: absolute;
    transition: 0.5s;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    opacity: 0;
}

.menu-ul {
    background-color: #1e56a0;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-ul li {
    list-style-type: none;
    background-color: #1e56a0;
    width: 130px;
    height: 50px;
    overflow: hidden;
    position: relative;
    transition: 0.4s;
}

.menu-ul li:hover{
    background-color:#3a4750;
}
.menu-ul li:hover .light {
    opacity: 1;
}

.icon{
    width: 60px;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    position:absolute;
    
}

.con{
    height:50px;
    width:60px;
    transition: 0.5s;
    display:flex;
    text-align: left;
    align-items: center;
    overflow: hidden;
    font-weight: bold;
    color: rgb(240, 240, 240);
    float:right;
}

.content {
    left: 14%;
    right: 7%;
    top: 6%;
    height: 90%;
    position: absolute;
}
.quote {
    text-align: center;
    font-size: 18px;
    height: auto;
    width: 85%;
    margin-top:2%;
    margin-left: 8%;
    margin-right: 8%;
    color:#fdeff2;
    background-color: #36506c;
    opacity: 0.6;
    position: absolute;
    border-radius: 10px 10px 10px 10px;
}
.quote h3{
    margin: 8px;
}
.content h1 {
    margin: 10px;
}

.main {
    background: url('../images/1.jpg');
    background-size: cover;
    width: 100%;
    height: calc(100vh);
    background-repeat: no-repeat;
    position: relative;
}

.introduce {
    width: 85%;
    height: 80%;
    margin-left: 8%;
    margin-right: 8%;
    background-color: #455d7a;
    opacity: 0.6;
    position: relative;
    border-radius: 15px 15px 15px 15px;
}

.introduce-text {
    width: 70%;
    height: 100%;
    float: left;
}

.introduce-text p{
    color:white;
    text-align: center;
    font-size:larger;
}

.introduce-img {
    width: 30%;
    height: 100%;
    background-image: url('../images/zhinai2.png');
    background-size: cover;
    float: left;
    overflow: hidden;
}

.individual{
    background: url('../images/2.jpg');
    background-size:cover;
    width: 100%;
    height: calc(100vh);
    background-repeat: no-repeat;
    position: relative;
}

.individual-box{
    width: 100%;
    height: 95%;
    background-color: #455d7a;
    opacity: 0.7;
    position: relative;
    border-radius: 15px 15px 15px 15px;
}

.individual-box h1{
    top:10px;
    color:white;
    position: relative;
}

.individual-line{
    background-color: aliceblue;
    height: 3px;
    top:10px;
    margin:8px;
    position: relative;
    
}

individual-div{
    position: relative;
}

.individual-div h2{
    color:rgba(255, 255, 255, 0.76);
    font-family: "楷体";
}

.project {
    background: url('../images/3.jpg');
    background-size: cover;
    width: 100%;
    height: calc(100vh);
    background-repeat: no-repeat;
    position: relative;
}

.cpp {
    width: 100%;
    height: 95%;
    background-color: #36506c;
    opacity: 0.7;
    position: relative;
    border-radius: 15px 15px 15px 15px;
}

.cpp h1{
    color: white;
    top:10px;
    position: relative;
}
.cpp-line{
    background-color: aliceblue;
    height: 3px;
    top:10px;
    margin:8px;
    position: relative;
    
}

.cpp a div {
    margin: 20px;
    width: 150px;
    height: 150px;
    text-align: center;
    color: white;
    font-size: 20px;
    float: left;
}

.cpp a div:hover {
    width: 150px;
    height: 150px;
    background-color: rgb(95, 95, 95);

}

.about {
    background: url('../images/4.jpg');
    background-size: cover;
    width: 100%;
    height: calc(100vh);
    background-repeat: no-repeat;
    position: relative;
}

.about-text {
    color: white;
    margin: 5px;
}

.message {
    position: relative;
}

.message h3 {
    color: white;
    margin: 5px;
}

.input-sm {
    width: 200px;
    height: 20px;
    background-color: #36506c;
}

.input-la {
    width: 600px;
    height: 100px;
    background-color: #36506c;
}

.input-button {
    width: 50px;
    height: 25px;
    background-color: #36506c;
    text-align: center;
    color: white;

}